.cover {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-image: url("../../assets//bg.jpg");

  .cover-top {
    position: relative;
    width: 80%;

    .cover-top__img {
      width: 100%;
      height: 60vh;
      margin: auto;
      img {
        border-radius: 2rem;
      }
    }

    .cover-top__title {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: "Satisfy";
      font-size: 4.5rem;
    }
  }

  .cover-bottom {
    width: 80%;
    height: 20vh;
    display: flex;
    align-items: center;

    .arrow-icons {
      cursor: pointer;
      font-size: 2rem;

      height: 100%;
    }

    .slider {
      flex: 1;
      overflow-x: auto;
      width: 100%;
      display: flex;
      gap: 1rem;
      padding-bottom: 1rem;

      .img-container {
        width: 220px;
        flex: 0 0 auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .cover .cover-top .cover-top__title {
    font-size: 2.5rem;
  }
}
