.cover {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-image: url("../../assets//bg.jpg");

  .cover-top {
    position: relative;
    width: 80%;

    .cover-top__img {
      width: 100%;
      height: 60vh;
      margin: auto;
      img {
        border-radius: 2rem;
      }
    }

    .cover-top__title {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -70%);
      color: white;
      font-family: "Satisfy";
    }
  }

  .cover-bottom {
    width: 80%;
    height: 20vh;
    display: flex;
    align-items: center;

    .arrow-icons {
      cursor: pointer;
      font-size: 2rem;

      height: 100%;
    }

    .slider {
      flex: 1;
      overflow-x: auto;
      width: 100%; /* Adjusted width */
      display: flex;
      gap: 1rem;
      padding-bottom: 1rem;

      .img-container {
        width: 220px;
        flex: 0 0 auto; /* Ensure container does not shrink */

        img {
          width: 100%; /* Ensure image fills its container */
          height: 100%; /* Ensure image fills its container */
          object-fit: cover; /* Resize the image to cover its container */
          cursor: pointer;
        }
      }
    }
  }
}
